# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore Eclipse-specific files
.settings/
.classpath
.project

# Ignore compiled binaries
bin/
*.class

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore logs and temporary files
*.log
